<div class="container principal">
  <div class="row">
    <div class="col s12">
      <ul class="tabs text-black">
        <li class="tab col s12">
          <a href="#intergua">Interagua</a>
        </li>
      </ul>
    </div>
    <div id="intergua" class="col s12">
      <div class="container">
        <div class="row">
          <form name="form" class="col s12" (ngSubmit)="buscar()" #f="ngForm">
            <div class="row">
              <div class="input-field col m4 s12">
                <input id="contrato" name="contrato" type="number" class="validate" [(ngModel)]="model.contrato" #contrato="ngModel" required>
                <label for="contrato">Número de contrato</label>
              </div>
              <div class="input-field col m6 s12">
                <input id="identificacion" name="identificacion" type="text" class="validate" [(ngModel)]="model.identificacion" #identificacion="ngModel" required>
                <label for="identificacion">Identificación</label>
              </div>
              <div class="input-field col m2 s12">
                <button class="btn waves-effect waves-light red lighten-1" type="submit">
                  Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="loading" class="container">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
      <div *ngIf="!loading && result" class="container">
        <section class="datos">
          <h4>{{result.cabecera.NOMBRE_BENEFICIARIO}}
            <small>{{result.cabecera.IDENTIFICACION_BENEF}}</small>
          </h4>
          <div class="row">
            <div class="col s12">
              <ul class="collection">
                <li class="collection-item">
                  <div>
                    <strong>Contrato #</strong>
                    <a href="javascript:;" class="secondary-content">
                      {{result.cabecera.ID_CONTRATO}}
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <strong>Dirección</strong>
                    <a href="javascript:;" class="secondary-content">
                      {{result.cabecera.DIRECCIONTRADICIONAL}}
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <strong>Fecha emisión última factura</strong>
                    <a href="javascript:;" class="secondary-content">
                      {{result.cabecera.FECHA_EMISION}}
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <strong>Fecha vencimiento última factura</strong>
                    <a href="javascript:;" class="secondary-content">
                      {{result.cabecera.FECHA_VENC_FACT}}
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <strong>Deuda</strong>
                    <a href="javascript:;" class="secondary-content">
                      {{result.cabecera.DEUDA_PENDIENTE | currency:'USD':true}}
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="resultados">
          <div class="row">
            <div class="col s12 m12">
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                    <strong>Consumos</strong>
                    <span class="new badge">Últimos {{result.consumos.length}}</span>
                  </div>
                  <div class="collapsible-body">
                    <table class="bordered highlight">
                      <thead>
                        <tr>
                          <th>Periodo</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let consumo of result.reverse">
                          <td>
                             {{meses[consumo.mes - 1]}}/{{consumo.anio}}
                          </td>
                          <td>
                             {{consumo.valor_consumo}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <strong>Pagos</strong>
                    <span class="new badge">Últimos {{result.facturas.length}}</span>
                  </div>
                  <div class="collapsible-body">
                    <table class="bordered highlight">
                      <thead>
                        <tr>
                          <th>Fecha de pago</th>
                          <th>Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pago of result.facturas">
                          <td>
                             {{pago.fecha}}
                          </td>
                          <td>
                             {{pago.valor_total | currency:'USD':true}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="estadisticas">
          <div class="row">
            <div class="col s12 m12">
              <app-chart [chart_op]="chart"></app-chart>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>