<div class="container principal">
  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red" (click)="setAccionModel('I')">
      <i class="large material-icons">add</i>
    </a>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <i class="material-icons prefix">search</i>
      <input id="icon_prefix" type="text" [(ngModel)]="filtro">
      <label for="icon_prefix">Usuario, nombre, cédula, correo</label>
    </div>
  </div>
  <br>
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Correo</th>
        <th>Tipo Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngIf="loadingUsuarios" colspan="6" class="center-align">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td *ngIf="!loadingUsuarios && usuarios.length ===0" colspan="6" class="center-align">
          No existen usuarios registrados
        </td>
      </tr>
      <tr *ngFor="let usuario of usuarios | filtrar:'usuario,nombre,cedula,correo':filtro">
        <td>{{usuario.usuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.cedula}}</td>
        <td>{{usuario.correo}}</td>
        <td>{{usuario.tipoUsuario}}</td>
        <td>
          <a (click)="setAccionModel('U', usuario)" class="btn-floating waves-effect waves-light blue">
            <i class="material-icons">edit</i>
          </a>
          <a (click)="setAccionModel('D', usuario)" class="btn-floating waves-effect waves-light red">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="model" id="modalUsuario" class="modal">
  <div class="modal-content">
    <div class="row">
      <form id="form" name="form" class="col s12" (ngSubmit)="f.valid && guardarUsuario(f)" #f="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <select [disabled]="model.accion==='U'" id="idTipo" name="idTipo" [(ngModel)]="model.idTipo" #idTipo="ngModel">
              <option value="" disabled selected>Elija una opción</option>
              <option *ngFor="let opcion of tipoUsuario" [value]="opcion.idTipo">{{opcion.tipoUsuario}}</option>
            </select>
            <label>Tipo Usuario</label>
          </div>
          <div *ngIf="model.idTipo===0" class="input-field col s12">
            <select id="idCarrera" name="idCarrera" [(ngModel)]="model.idCarrera" #idCarrera="ngModel">
              <option value="" disabled selected>Elija una opción</option>
              <option *ngFor="let opcion of carreras" [value]="opcion.id">{{opcion.carrera}}</option>
            </select>
            <label>Carrera</label>
          </div>
          <div class="input-field col s12">
            <input id="nombre" name="nombre" type="text" class="validate" [(ngModel)]="model.nombre" #nombre="ngModel" required>
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s12">
            <input id="cedula" name="cedula" type="text" class="validate" [(ngModel)]="model.cedula" #cedula="ngModel" maxlength="10"
              required>
            <label for="cedula">Cédula</label>
          </div>
          <div class="input-field col s12">
            <input id="correo" name="correo" type="text" class="validate" [(ngModel)]="model.correo" #correo="ngModel" required>
            <label for="correo">Correo</label>
          </div>
          <div class="input-field col s12">
            <input id="telefono" name="telefono" type="text" class="validate" [(ngModel)]="model.telefono" #telefono="ngModel" required>
            <label for="telefono">Teléfono</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="usuario" name="usuario" type="text" class="validate" [(ngModel)]="model.usuario" #usuario="ngModel" required>
            <label for="usuario">Usuario</label>
          </div>
          <div class="input-field col s12">
            <input id="contrasena" name="contrasena" type="password" class="validate" [(ngModel)]="model.contrasena" #contrasena="ngModel"
              required>
            <label for="contrasena">Contraseña</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action waves-effect waves-green btn-flat" form="form">Guardar</button>
    <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar</a> -->
    <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>