<div class="container principal">
  <div class="row">
    <div class="col s12">
      <ul class="tabs text-black">
        <li class="tab col s12">
          <a href="#cnt">CNT</a>
        </li>
      </ul>
    </div>
    <div id="cnt" class="col s12">
      <div class="container">
        <div class="row">
          <form name="form" class="col s12" (ngSubmit)="buscar()" #f="ngForm">
            <div class="row">
              <div class="input-field col m6 s12">
                <select id="provincia" name="provincia" [(ngModel)]="model.provincia" #provincia="ngModel" required>
                  <option value="" disabled selected>Provincia</option>
                  <option *ngFor="let op of opciones" [value]="op.value">{{op.text}}</option>
                </select>
              </div>
              <div class="input-field col m4 s12">
                <input id="valor" name="valor" type="text" class="validate" [(ngModel)]="model.valor" #valor="ngModel" required>
                <label for="valor">Número de teléfono</label>
              </div>
              <div class="input-field col m2 s12">
                <button class="btn waves-effect waves-light red lighten-1" type="submit">
                  Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="loading" class="container">
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
      <div *ngIf="!loading && result" class="container">
        <section class="datos">
          <h4>{{result.cabecera.nombre}}
          </h4>
          <div class="row">
            <div class="col s12">
              <ul class="collection">
                <li class="collection-item">
                  <div>
                    <strong>Número telefónico</strong>
                    <a href="javascript:;" class="secondary-content">
                      {{result.cabecera.numero}}
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <strong>Dirección</strong>
                    <a href="javascript:;" class="secondary-content">
                       {{result.cabecera.direccion}}
                    </a>
                  </div>
                </li>
                <li class="collection-item">
                  <div>
                    <strong>Localidad</strong>
                    <a href="javascript:;" class="secondary-content">
                       {{result.cabecera.localidad}}
                    </a>
                  </div>
                </li>
                <li *ngIf="result.deuda.total" class="collection-item">
                  <div>
                    <strong>Deuda</strong>
                    <a href="javascript:;" class="secondary-content">
                      <span class="red-text text-accent-3">{{'$' + result.deuda.total}}</span>                       
                    </a>
                  </div>
                </li>
                <li *ngIf="result.deuda.noPlanillas" class="collection-item">
                  <div>
                    <strong>Planillas vencidas</strong>
                    <a href="javascript:;" class="secondary-content">
                       {{result.deuda.noPlanillas}}
                    </a>
                  </div>
                </li>
                <li *ngIf="result.deuda.emision" class="collection-item">
                  <div>
                    <strong>Fecha de emisión</strong>
                    <a href="javascript:;" class="secondary-content">
                       {{result.deuda.emision}}
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="resultados">
          <div class="row">
            <div class="col s12 m12">
              <ul class="collapsible popout" data-collapsible="accordion">
                <li *ngFor="let planilla of result.planillas; let i = index">
                  <div class="collapsible-header">
                    <strong>{{meses[planilla.cell[4] - 1] +' '+ planilla.cell[3]}}</strong>
                    <span class="new badge" [ngClass]="{'red accent-3': i === result.deuda.noPlanillas -1}">{{'$' + planilla.cell[5]}}</span>
                  </div>
                  <div class="collapsible-body">
                    <table class="bordered highlight">
                      <tbody>
                        <tr>
                          <td>
                            <strong>No. factura</strong>
                          </td>
                          <td>{{planilla.cell[2]}}</td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Valor factura</strong>
                          </td>
                          <td>{{'$' + planilla.cell[5]}}</td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Emisión</strong>
                          </td>
                          <td>{{planilla.cell[6]}}</td>
                        </tr>
                        <tr>
                          <td>
                            <strong>Descargar</strong>
                          </td>
                          <td>
                            <a class="btn-floating red" [href]="getUrlDescarga(planilla.cell[1])">
                              <i class="large material-icons">file_download</i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="estadisticas">
          <div class="row">
            <div class="col s12 m12">
              <app-chart [chart_op]="chart"></app-chart>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>