.principal {
    min-height: 40rem;
}
.collection .collection-item {
    padding: 1px 20px;
}
.collapsible-header {
    padding: .3rem;
}
span.badge.new:after {
    content: "";
}
td, th {
    padding: 5px 5px;
}

/* .input-field input[type=text]:focus + label {
    color: #32db64;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid #32db64;
    box-shadow: 0 1px 0 0 #32db64;
} */