<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center">Bienvenido a Serviya!</h1>
    <div class="row center">
      <h5 class="header col s12 light">Utiliza esta web para consultar las planillas de tus servicios básicos, y mantente atento a las actualizaciones que traen nuevas y útiles opciones para tu comodidad</h5>
    </div>
    <!-- <div class="row center">
      <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div> -->
    <br>
    <br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">lightbulb_outline</i>
          </h2>
          <h5 class="center">Planillas de luz</h5>

          <p class="light">Consulta tus planillas de luz (Cnel EP).</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">opacity</i>
          </h2>
          <h5 class="center">Planillas de agua</h5>

          <p class="light">Consulta tus planillas de agua en la ciudad de Guayaquil (Interagua).</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">local_phone</i>
          </h2>
          <h5 class="center">Planillas de teléfono</h5>

          <p class="light">Consulta tus planillas de teléfono (Cnt EP)</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">file_download</i>
          </h2>
          <h5 class="center">Descarga nuestra app</h5>

          <p class="light">Descarga nuestra app en la tienda de tu plataforma movil, buscanos como "Serviyapp", disponible para android y muy pronto para Ios.</p>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
</div>